@import "tailwindcss";

:root {
    --primary-bg-color: rgb(13, 13, 15);
    --secondery-bg-color: rgb(28 28 34);
    --primary-text-color: white;
    --secondery-text-color: #6a7282;
    --primary-border-color: #364153;
}

body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
